* {
  box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
}
/*  header start*/
.header {
  background: rgb(50, 46, 58);
}
.header ul {
  display: flex;
}
.header ul li {
  color: rgb(255, 240, 240);
  padding: 10px;
  list-style: none;
  margin: 20px;
  display: inline-block;
  font-weight: 500;
  padding: 2px 5px 1px 5px;
  line-height: 1.5384616;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.1px;
  border-radius: 2px;
  background-color: #8c8282;
  border-color: #13c413;
  text-align: center;
}

/*  header end */

.footer {
  display: flex;
  bottom: 30px;
  height: fit-content;
  font-family: -webkit-pictograph;
  width: -webkit-fill-available;
  padding-left: 10px;
  background: #176d6d;
  font-weight: 500;
  font-size: 18px;
}

.content {
  height: 100%;
  margin-bottom: 30px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: rgb(241, 241, 241);
  width: 100%;
  padding-left: 75px;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: rgb(241, 241, 241);
  padding-left: 75px;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: rgb(241, 241, 241);
  padding-left: 75px;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: auto;
  background: #151719;
  left: -200px;
}
#sidebar.active {
  left: 0px;
}
#sidebar ul li {
  color: rgba(39, 85, 112, 0.993);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}
