* {
  box-sizing: border-box;
}
/*  header start*/
.header {
  background: mediumorchid;
}
.header ul {
  display: flex;
}
.header ul li {
  padding: 10px;
  list-style: none;
  margin: 20px;
}

/*  header end */

.footer {
  display: flex;
  position: absolute;
  bottom: 30px;
  height: fit-content;
  font-family: -webkit-pictograph;
  width: -webkit-fill-available;

  background: aqua;
}

.content {
  height: 100%;
  margin-bottom: 30px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: steelblue;
  width: 100%;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: aquamarine;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: bisque;
}
.four {
  grid-column: 3;
  grid-row: 3;
  background-color: burlywood;
}
.five {
  grid-column: 2;
  grid-row: 4;
  background-color: yellowgreen;
}
.six {
  grid-column: 3;
  grid-row: 4;
  background-color: yellow;
}
